<!DOCTYPE html>
<html lang="pt-BR">

<head>
  {% include 'loja/partials/_head.html' %}
</head>

<body>
  
  <div class="blog-wrapper">

    {% if site_setup.show_header %}
      {% include 'loja/partials/_header.html' %}
    {% endif %}

    {% block content %}{% endblock content %}

    {% if site_setup.show_pagination %}
      {% include 'loja/partials/_pagination.html' %}
    {% endif %}

    {% if site_setup.show_footer %}
      {% include 'loja/partials/_footer.html' %}
    {% endif %}

  </div>

</body>

</html>